@model EcommerceWebSite.DTO.CreateProductDTO

@{
    ViewData["Title"] = "EditProduct";
    Layout = "_AdminLayout";
    SelectList items = new SelectList(Model.Categories, "Id", "Name");
}

<hr />
<div class="col-md-12">
    <form asp-action="EditProduct" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input hidden asp-for="ProductDTO.Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ProductDTO.Name" class="control-label"></label>
            <input asp-for="ProductDTO.Name" class="form-control" />
            <span asp-validation-for="ProductDTO.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductDTO.Price" class="control-label"></label>
            <input asp-for="ProductDTO.Price" class="form-control" />
            <span asp-validation-for="ProductDTO.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input hidden asp-for="ProductDTO.Status" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ProductDTO.UnitInStock" class="control-label"></label>
            <input asp-for="ProductDTO.UnitInStock" class="form-control" />
            <span asp-validation-for="ProductDTO.UnitInStock" class="text-danger"></span>
        </div>

        <div class="form-group">

            @foreach (var item in Model.images){
                <img src="~/images/@item.Name" width="100px" height="100px" />
            }
        </div>
       

        <div class="form-group">
            <label asp-for="ProductDTO.Description" class="control-label"></label>
            <textarea asp-for="ProductDTO.Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <span asp-validation-for="ProductDTO.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductDTO.CategoryId" class="control-label">Category</label>
            <select asp-for="ProductDTO.CategoryId" class="form-control" asp-items="items"></select>
            <span asp-validation-for="ProductDTO.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-success" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
